<div class="container">
    <div class="panel panel-default panel-dark"  style="padding: 25px">
        <div class="row">
            <div class="col-md-4 text-center">
                <img class="img-responsive circleBase" src="./images/guild/conner.jpg">
                <h4>Melvic</h4>
                <h5>Guild Leader</h5>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-responsive circleBase" src="./images/guild/josh.jpg">
                <h4>puglove_</h4>
                <h5>Engineer</h5>
            </div>
            <div class="col-md-4 text-center">
                <img class="img-responsive circleBase" src="./images/guild/michael.jpg">
                <h4>Azien</h4>
                <h5>Founder</h5>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>