<div class="container">
    <div class="panel panel-default"  style="height: 80vh; padding: 25px">
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive circleBase" src="./images/guild/josh.jpg">
                <div>pug_love</div>
                <div>Engineer</div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive circleBase" src="./images/guild/michael.jpg">
                <div>Character</div>
                <div>Guild Role</div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive circleBase" src="./images/guild/conner.jpg">
                <div>Character</div>
                <div>Guild Role</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img class="img-responsive circleBase" src="./images/guild/placeholder.png">
                <div>Character</div>
                <div>Guild Role</div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive circleBase" src="./images/guild/placeholder.png">
                <div>Character</div>
                <div>Guild Role</div>
            </div>
            <div class="col-md-4">
                <img class="img-responsive circleBase" src="./images/guild/placeholder.png">
                <div>Character</div>
                <div>Guild Role</div>
            </div>
        </div>
    </div>
</div>