<div class="container">
    <div class="panel panel-default"  style="height: 80vh;">
        <h3 class="col-md-offset-5">Contact Us!</h3>
        <form class="container" style="padding-top: 50px;">
            <div class="col-md-offset-1 col-md-3"></div>
            <div class="row space">
                <div class="col-md-2 col-md-offset-3">
                    <label class="pull-right" for="">Character</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Character Name">
                </div>
            </div>
            <div class="row space">
                <div class="col-md-2 col-md-offset-3">
                    <label class="pull-right" for="">IRL Name</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="IRL Name">
                </div>
            </div>

            <div class="row space">
                <div class="col-md-2 col-md-offset-3">
                    <label class="pull-right" for="">Email</label>
                </div>
                <div class="col-md-4">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="row space">
                <div class="col-md-2 col-md-offset-3">
                    <label class="pull-right" for="">Phone</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
            </div>

            <div class="row space">
                <div class="col-md-2 col-md-offset-3">
                    <label class="pull-right" for="">Role</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Role">
                </div>
            </div>
            <div class="row space">
                <div class="col-md-2 col-md-offset-3">
                    <label class="pull-right" for="">Age</label>
                </div>
                <div class="col-md-4">
                    <input type="number" class="form-control" placeholder="Age">
                </div>
            </div>
            <div class="row space">
                <div class="col-md-2 col-md-offset-3">
                    <label class="pull-right" for="">Description</label>
                </div>
                <div class="col-md-4">
                    <textarea class="form-control" placeholder="Why should we pick you?" style="max-height: 15vh; max-width: 25vw;"></textarea>
                </div>
            </div>

            <div class="row space">
                <div class="col-md-2 col-md-offset-5">
                    <button class="btn btn-default">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>