<div class="container">
    <div class="panel panel-default panel-dark"  style="padding: 25px;">
        <div class="panel-heading panel-dark-header">Guild News</div>
        <div class="panel-body">
            <div class="tile panel panel-default panel-dark">Some news</div>
            <div class="tile panel panel-default panel-dark">Some other news</div>
            <div class="tile panel panel-default panel-dark">Some news</div>
            <div class="tile panel panel-default panel-dark">Some other news</div>
        </div>
    </div>

    <div class="panel panel-default panel-dark"  style="padding: 25px;">
        <div class="panel-heading panel-dark-header">Crowfall News</div>
        <div class="panel-body">
            <div class="tile panel panel-default panel-dark">Some news</div>
            <div class="tile panel panel-default panel-dark">Some other news</div>
            <div class="tile panel panel-default panel-dark">Some news</div>
            <div class="tile panel panel-default panel-dark">Some other news</div>
        </div>
    </div>
</div>