body { margin-top: 100px; background-color: #5A6652; }

.nav-margin { margin-top: -7px; }

.bg
{
    background-image: url("../images/bg.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 100%;
    width: 100vw;

    position: absolute;
    z-index: -1;
    top:-10px;
}

.h100 { height: 100%; }

.circleBase
{
    border-radius: 50%;
    behavior: url(PIE.htc);

    max-height: 250px;
    margin: 2.5em;
}

.space
{
    margin: 1em;
}

.tile
{
    height:100px;
}

.panel-dark
{
    background-color: #222;
    border-color: #101010;
    color: #fff;
}

.panel-dark-header
{
    background-color: #111 !important;
    border-color: #101010 !important;
    color: #fff !important;
}